<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header.html :: header-fragment"></th:block>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="jumbotron align-self-center">
            <div class="error-container text-center">
                <h1 class="text-primary"><span id="first-four">4</span>04</h1>
                <p>존재하지 않는 페이지입니다.</p>
                <a href="http://localhost:8080" class="btn btn-primary">메인 페이지로</a>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer.html :: footer-fragment"></th:block>
</body>
</html>
