.modal-footer {
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.page-group {
    display: flex;
    align-items: center;
}

.page-group > * {
    margin: 0 4px;
}

.page-group > .fa-xl {
    line-height: unset;
}

#inputs-modal-body {
    height: 400px;
}