<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header.html :: header-fragment}"></th:block>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="jumbotron align-self-center">
            <form id="operation-form" class="align-self-center align-items-center" autocomplete="off">
                <h1 class="mb-3 text-primary">작전 상자 생성</h1>
                <div class="mb-3">
                    <label for="name" class="form-label">당신의 이름</label>
                    <input type="text" class="form-control" id="name" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" class="form-control"
                           id="password" aria-describedby="password-help">
                </div>
                <div class="mb-3">
                    <label for="password-check" class="form-label">비밀번호 확인</label>
                    <input type="password" class="form-control"
                           id="password-check" aria-describedby="password-help">
                    <div id="password-help" class="form-text">
                        비밀번호는 추후 본인의 작전 상자를 관리하기 위해 사용됩니다.
                        절대로 잊어버리지 마세요!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="operation-date" class="form-label">작전 수행 일자</label>
                    <input type="date" id="operation-date" class="form-control" />
                </div>
                <button type="submit" id="operation-form-submit" class="btn btn-primary text-center w-100">생성하기</button>
                <p id="error-message" class="text-danger"></p>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer.html :: footer-fragment}"></th:block>
<script src="/js/create.js"></script>
</body>
</html>