<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/header.html :: header-fragment"></th:block>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="jumbotron align-self-center">
            <form id="operation-form" class="align-self-center align-items-center">
                <h1 class="mb-3 text-primary">작전 생성</h1>
                <div class="mb-3">
                    <label for="name" class="form-label">YOUR NAME</label>
                    <input type="text" class="form-control" id="name" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">PASSWORD</label>
                    <input type="password" class="form-control" autocomplete="on"
                           id="password" aria-describedby="password-help">
                    <div id="password-help" class="form-text">
                        비밀번호는 추후 본인의 작전을 관리하기 위해 사용됩니다.
                        절대로 잊어버리지 마세요!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="operation-type" class="form-label">OPERATION TYPE</label>
                    <select class="form-select" id="operation-type" aria-describedby="type-help">
                        <option selected disabled>작전 타입을 선택하세요.</option>
                        <option value="0">장소</option>
                        <option value="1">장소-Together</option>
                        <option value="2">식사</option>
                        <option value="3">식사-Together</option>
                        <option value="4">행동</option>
                        <option value="5">행동-Together</option>
                        <option value="6">자율</option>
                        <option value="7">자율-Together</option>
                    </select>
                    <div class="form-text"><i class="fas fa-exclamation-circle"></i> 타입은 무엇인가요?</div>
                </div>
                <div class="mb-3">
                    <label for="operation-date" class="form-label">OPERATION DATE</label>
                    <input type="date" id="operation-date" />
                </div>
                <button type="submit" id="operation-form-submit" class="btn btn-primary text-center">생성하기</button>
                <p id="error-message" class="text-danger"></p>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="/fragments/footer.html :: footer-fragment"></th:block>
<script src="/js/create.js"></script>
</body>
</html>