<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작전명 투게더</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        * {
            font-family: 'paybooc-Bold';
        }
        html, body {
            height: 100%;
        }
        .highlight {
            color: #0d6efd;
        }
        #body-container {
            height: 100%;
        }

        @font-face {
            font-family: 'paybooc-Bold';
            src: url('font/paybooc-Bold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="jumbotron align-self-center">
            <h1 class="text-center"><b>작전명 <span class="highlight">투게더</span>!</b></h1>
            <p class="text-center">친구와 함께 당신의 작전을 만들어보세요.</p>
            <p class="text-center"><a href="#" class="btn btn-primary btn-lg">작전 만들기!</a></p>
        </div>
    </div>
</div>
</body>
</html>